
{% extends 'base_admin.html' %}

{% block title %}All Products - Admin Dashboard{% endblock %}

{% block content %}
  <h1 style="text-align: center; color: #65412b; margin-bottom: 20px;">All Categories</h1>
  <a href="{% url 'category_create' %}">Ajouter une catégorie</a>
    <br>
    <br>
  <div style="overflow-x: auto; margin-bottom: 30px;">
    <table style="width: 100%; border-collapse: collapse; background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <thead>
        <tr style="background-color: #65412b; color: #ebe6e4;">
          <th style="padding: 12px; text-align: left; border-bottom: 2px solid #d6c9c4;">Category name</th>
         
          <th style="padding: 12px; text-align: center; border-bottom: 2px solid #d6c9c4;">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        
        <tr style="border-bottom: 1px solid #d6c9c4;">
          <td style="padding: 10px;">{{ category.name }}</td>
        <td>
            <a href="{% url 'category_update' category.pk %}">Modifier</a> 
            <a href="{% url 'category_delete' category.pk %}">Supprimer</a>
        </td>
    
        </tr>
        {% empty %}
        <tr>
          <td colspan="6" style="text-align: center; padding: 20px; color: #65412b; background-color: #f9f9f9;">No products found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
<br><br>
    <div class="pagination" style="text-align: center;">
        <span class="step-links">
            {% if categories.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ categories.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ categories.number }} of {{ categories.paginator.num_pages }}.
            </span>
    
            {% if categories.has_next %}
                <a href="?page={{ categories.next_page_number }}">next</a>
                <a href="?page={{ categories.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
      </div>
  </div>
{% endblock %}